body {
	font-family: sans-serif;
	background-color: black;
	color: green;

}

#nav {
	background-color: green;
	height: 50px;
	width: 800px
}
#input {
	width: 150px;
	height: 50px;
	background-color: black;
	color: green;
	font-size: 20;
}
#select {
	width: 55px;
	height: 48px;
	font-size: 25;
	background-color: black;
	color: green;
}
#mail{
	float: left;
	width: 800px;
	word-wrap; break-word;
}

#mailline{
	padding-left: 50px;
}

#mailline:hover {
	background-color: green;
	color: white;
}